			* {font-family: "微软雅黑";margin: 0px;padding: 0px;}
			body {background-color: white;margin: 0;padding: 0;}
			ul {margin: 0;padding: 0;}
			li {display: inline;}
			table {
				border-spacing: 0px;
				width: 100%;
			}
			a{
				text-decoration:none;
				color: #000000;
			}
			.a{
				border: 1px solid red;
			}
			.body{
				padding: 60px 0px;
				margin:auto ;
				min-height:650px ;
			}
			.body_b{
				max-width: 1200px;
				margin:auto ;
			}
			.table_1{
				font-size:14px ;
				margin-bottom: 20px;
				margin-right: 10px;
				border-top: 4px solid #b3b3b3;
				display: none;
			}
			.table_1 div{
				margin:10px 2px;
			}
			.table_1 p:first-child{
				display: inline;
				margin-left: -4px
			}
			.table_1 p{
				margin-left: 70px;
			}
			.table_1 span{
				margin-right: 20px;
			}
			.text_box{
				width: 90%;
				margin: auto;
				overflow: hidden; 
				text-overflow: ellipsis;
				white-space:nowrap;
			}
			.table_2{
				background-color: #fff;
				box-shadow: 0px 0px 10px #cdcdcd;
				margin:20px auto;
				padding-top: 15px;
			}
			.body b{
				color: #ff7e00;
				font-size: 25px;
			}
			.tou{
				float: right;
				background-color: #b3b3b3;
				color: #fff;
				padding: 5px 10px;
				margin-right: 10px;
			}
			.tou_b{
				width: 100%;
				padding: 40px 0px 25px 0px;
			}
			.tou:hover{
				text-decoration: underline
			}
			.payment{
				margin: 10px;
				padding: 10px;
				border: 3px solid #fff;
			}
			.payment_w{
				box-shadow: 0px 0px 10px #cdcdcd;
			}
			.payment_other{
				font-size: 13px;
				border: 1px solid #b3b3b3;
				width: 80px;
				margin:5px 20px;
				padding: 5px 15px;
				color: #00AAEE;
			}
			.pay{
				font-size: 16px;
				margin: 20px;
				padding:8px 18px;
				background-color: #d7342e;
				color: #fff;
				border: 0px;
				border-radius:5px ;
			}
			.recommend{
				display: inline;
				color: #fff;
				background-color: #29ab91;
				padding: 3px;
				font-size: 12px;
				margin-left:20px ;
			}
			.money{
				float: right;
				padding: 5px
			}
			.money b{
				color: #FF7E00;
				font-size: 16px;
			}
			.head{
				background-color: #fff;
				height: 50px;
			}
			.head_w{
				padding:0 40px;
			}
			.head_w img{
				float: left;
			}
			.head_w_text{
				color: #666666;
				padding:13px 0px;
				float: left;
				font-size: 18px;
			}
			.body_commodity{
				font-size: 14px;
				
			}
			.container {
			 	display: flex;    /* 设置为 FlexBox 容器 */
			}
			.fle {
			  	display: inline-block; /* 子集平分 */
			  	width: 100%;
			} 
			.fle1 {
				display: inline-block;
				padding: 2px;
			}
			.fle1 strong{
				font-weight: 800;
			}
			.fle p{
				font-size:14px ;
				padding: 2px;
			}
			.wechat_pay{
				background-color: #fff;
				box-shadow: 0px 0px 10px #cdcdcd;
				margin: 20px auto;
				padding: 15px 90px;
				position: relative;
			}
			.wechat_time{
				
			}
			.wechat_time span:first-child{
				font-size:16px ;
			}
			.wechat_time span:last-child{
				margin-left: 50px;
			}
			.wechat_time label{
				color: #d7342e;
			}
			.QR_code{
				margin:60px 120px;
				width: 240px;
				height: 240px;
			}
			.wechat_cue{
				width: 250px;
				background-color: #ff7e00;
				color: #fff;
				padding:18px 10px 18px 50px;
				text-align: center;
				font-size: 16px ;
				position: relative;
				margin-left: 120px;
			}
			.wechat_cue img{
				width:60px;
				position: absolute;
				top: 8px;
				left: 5px;
			}
			.wechat_cue p{
				font-size: 16px;
			}
			.wechat_img{
				position: absolute;
				top: 60px;
				left: 550px;
			}
			.wechat_back{
				margin-left: 0px;
				margin-top:60px ;
			}
			.wechat_back a{
				font-size: 16px;
				color: #0B74DF;
			}
			.wechat_back img{
				width: 12px;
			}